<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biodump">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".food2"></activity>
        <activity android:name=".CitizenPendingOrderFragment"></activity>
        <activity android:name=".CitizenOrderFragment" />
        <activity android:name=".CitizenHomeFragment" />
        <activity android:name=".addfood" />
        <activity android:name=".Food" />
        <activity android:name=".CitizenVerifyPhone" />
        <activity android:name=".CityRegistration" />
        <activity android:name=".CityLoginphone" />
        <activity android:name=".CityLogin" />
        <activity android:name=".CitizenRegistration" />
        <activity android:name=".Citizenloginphone" />
        <activity android:name=".Citizenlogin" />
        <activity android:name=".ChooseOne" />
        <activity android:name=".Homepg" />
        <activity android:name=".MainMenu" />
        <activity android:name=".tree" />
        <activity android:name=".Recycle" />
        <activity android:name=".Alternate" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />
    </application>

</manifest>